name: poupe-ai-production

x-django-common-env: &django-common-env
  POSTGRES_DB: ${FINANCE_DB}
  POSTGRES_USER: ${FINANCE_DB_USER}
  POSTGRES_PASSWORD: ${FINANCE_DB_PASSWORD}
  POSTGRES_HOST: finances-db
  POSTGRES_PORT: 5432
  DATABASE_URL: postgres://${FINANCE_DB_USER}:${FINANCE_DB_PASSWORD}@finances-db:5432/${FINANCE_DB}
  KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
  KEYCLOAK_JWKS_URL: ${KEYCLOAK_JWKS_URL}
  REDIS_URL: ${REDIS_FINANCE_URL}
  KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
  KEYCLOAK_REALM_NAME: "poupe-ai"
  KEYCLOAK_ADMIN_CLIENT_ID: "poupe-ai-backend"
  KEYCLOAK_ADMIN_CLIENT_SECRET: ${KEYCLOAK_ADMIN_CLIENT_SECRET}
  REPORTS_SERVICE_URL: ${REPORTS_SERVICE_URL}
  RABBITMQ_URL: ${RABBITMQ_URL}
  RABBITMQ_EXCHANGE_MAIN: ${RABBITMQ_EXCHANGE_MAIN}
  RABBITMQ_ROUTING_KEY: ${RABBITMQ_ROUTING_KEY}
  DJANGO_SETTINGS_MODULE: config.settings.local
  DEBUG: 'true'
  USE_DOCKER: 'yes'

services:
  # --- BANCOS DE DADOS E CACHE ---
  keycloak-db:
    image: postgres:17.5-alpine
    container_name: keycloak-db-prod
    environment:
      POSTGRES_DB: ${KEYCLOAK_DB}
      POSTGRES_USER: ${KEYCLOAK_DB_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${KEYCLOAK_DB_USER}", "-d", "${KEYCLOAK_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - poupe-ai-network

  finances-db:
    image: postgres:17.5-alpine
    container_name: finances-db-prod
    environment:
      POSTGRES_DB: ${FINANCE_DB}
      POSTGRES_USER: ${FINANCE_DB_USER}
      POSTGRES_PASSWORD: ${FINANCE_DB_PASSWORD}
    volumes:
      - finances_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${FINANCE_DB_USER}", "-d", "${FINANCE_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - poupe-ai-network

  redis:
    image: redis:7-alpine
    container_name: redis-prod
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - poupe-ai-network

  # --- INFRAESTRUTURA CORE ---
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    container_name: keycloak-prod
    command:
      - start-dev
      - --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: ${KEYCLOAK_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HTTP_ENABLED: 'true'
      KC_PROXY: 'none'
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
      KC_HOSTNAME: ${IP_ADDRESS}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      POUPE_AI_BACKEND_CLIENT_SECRET: ${POUPE_AI_BACKEND_CLIENT_SECRET}
      KC_SPI_EVENTS_LISTENER_POUPEAI_EVENT_LISTENER_CORE_SERVICE_URL: "${CORE_SERVICE_URL}"
      KC_SPI_EVENTS_LISTENER_POUPEAI_EVENT_LISTENER_INTERNAL_API_KEY: "${INTERNAL_API_KEY}"
      KC_SPI_EVENTS_LISTENER_POUPEAI_EVENT_LISTENER_INTERNAL_HEADER_NAME: "${INTERNAL_HEADER_NAME}"
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realms/import:/opt/keycloak/data/import
      - ./keycloak/themes/poupe-ai:/opt/keycloak/themes/poupe-ai
      - ./keycloak/providers/poupeai-keycloak-listener.jar:/opt/keycloak/providers/poupeai-listener.jar
    depends_on:
      keycloak-db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poupe-ai-network

  kong:
    build:
      context: ./kong
      dockerfile: Dockerfile
    container_name: kong-gateway-prod
    environment:
      KONG_DATABASE: 'off'
      KONG_DECLARATIVE_CONFIG: /opt/kong/kong.yaml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 'off'
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_NGINX_DAEMON: 'off'
      KONG_PLUGINS: bundled,jwt-header-injector
      KONG_LUA_PACKAGE_PATH: /usr/local/share/lua/5.1/kong/plugins/?.lua;;
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    ports:
      - "8000:8000"
    volumes:
      - ./kong/kong.template.yaml:/opt/kong/kong.template.yaml
      - ./kong/plugins/jwt-header-injector:/usr/local/share/lua/5.1/kong/plugins/jwt-header-injector
    depends_on:
      - keycloak
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - poupe-ai-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-prod
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - poupe-ai-network

  # --- SERVIÇOS DA APLICAÇÃO ---
  finances-service:
    image: franciscopaulinoq/poupeai-finance-service:${SERVICE_TAG}
    container_name: finances-service-prod
    command: /start
    environment:
      <<: *django-common-env
    depends_on:
      finances-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poupe-ai-network

  finances-celery-worker:
    image: franciscopaulinoq/poupeai-finance-service:${SERVICE_TAG}
    container_name: finances-celery-worker-prod
    command: /start-celeryworker
    environment:
      <<: *django-common-env
    depends_on:
      finances-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poupe-ai-network

  finances-celery-beat:
    image: franciscopaulinoq/poupeai-finance-service:${SERVICE_TAG}
    container_name: finances-celery-beat-prod
    command: /start-celerybeat
    environment:
      <<: *django-common-env
    depends_on:
      finances-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poupe-ai-network
  
  finances-celery-flower:
    image: franciscopaulinoq/poupeai-finance-service:${SERVICE_TAG}
    container_name: finances-celery-flower-prod
    command: /start-flower
    environment:
      <<: *django-common-env
      CELERY_FLOWER_USER: ${CELERY_FLOWER_USER}
      CELERY_FLOWER_PASSWORD: ${CELERY_FLOWER_PASSWORD}
    ports:
      - '5555:5555'
    depends_on:
      finances-db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poupe-ai-network

  notification-service:
    image: franciscopaulinoq/poupeai-notification-service:${SERVICE_TAG}
    container_name: notification-service-prod
    environment:
      DEBUG: 'True'
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_MAX_RETRIES: 3
      RABBITMQ_EXCHANGE_MAIN: notification_exchange
      RABBITMQ_QUEUE_MAIN: notification_events
      RABBITMQ_ROUTING_KEY: notification.event
      RABBITMQ_EXCHANGE_RETRY: notification_exchange.retry
      RABBITMQ_QUEUE_RETRY: notification_events.retry
      RABBITMQ_EXCHANGE_DLQ: notification_exchange.dlq
      RABBITMQ_QUEUE_DLQ: notification_events.dlq
      RABBITMQ_RETRY_DELAY_MS: 10000
      REDIS_URL: ${REDIS_NOTIFICATION_URL}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_FROM: ${MAIL_FROM}
      MAIL_FROM_NAME: ${MAIL_FROM_NAME}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_SERVER: ${MAIL_SERVER}
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - poupe-ai-network

  reports-service:
    image: franciscopaulinoq/poupeai-report-service:${SERVICE_TAG}
    container_name: reports-service-prod
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: 8081
      GeminiAI__ApiKey: ${GEMINI_API_KEY}
      DeepseekAI__ApiKey: ${DEEPSEEK_API_KEY}
      Database__ConnectionString: ${REPORT_DB_CONNECTION_STRING}
      Database__DatabaseName: ${REPORT_DB_NAME}
      Keycloak__Authority: ${KEYCLOAK_AUTHORITY}
      Keycloak__Audience: ${KEYCLOAK_AUDIENCE}
      Keycloak__ValidIssuer: ${KEYCLOAK_ISSUER}
      FinancesService__BaseUrl: ${FINANCES_SERVICE_BASE_URL}
      FinancesService__TransactionsEndpoint: ${FINANCES_SERVICE_TRANSACTIONS_ENDPOINT}
      FinancesService__CategoryEndpoint: ${FINANCES_SERVICE_CATEGORY_ENDPOINT}
    restart: unless-stopped
    networks:
      - poupe-ai-network
  
  # --- BACKUPS ---
  finances-db-backup:
    image: prodrigestivill/postgres-backup-local:17-alpine
    container_name: finances-db-backup-prod
    restart: unless-stopped
    volumes:
      - finances_backups:/backups
    networks:
      - poupe-ai-network
    environment:
      - POSTGRES_HOST=finances-db
      - POSTGRES_DB=${FINANCE_DB}
      - POSTGRES_USER=${FINANCE_DB_USER}
      - POSTGRES_PASSWORD=${FINANCE_DB_PASSWORD}
      - POSTGRES_EXTRA_OPTS=--clean
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7

  keycloak-db-backup:
    image: prodrigestivill/postgres-backup-local:17-alpine
    container_name: keycloak-db-backup-prod
    restart: unless-stopped
    volumes:
      - keycloak_backups:/backups
    networks:
      - poupe-ai-network
    environment:
      - POSTGRES_HOST=keycloak-db
      - POSTGRES_DB=${KEYCLOAK_DB}
      - POSTGRES_USER=${KEYCLOAK_DB_USER}
      - POSTGRES_PASSWORD=${KEYCLOAK_DB_PASSWORD}
      - POSTGRES_EXTRA_OPTS=--clean
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7

  # --- LOGGING E MONITORAMENTO ---
  loki:
    image: grafana/loki:3.5.2
    container_name: loki-prod
    command: 
      - -config.file=/etc/loki/config.yaml
      - -config.expand-env=true
    volumes:
      - ./logging/loki/loki-config.yaml:/etc/loki/config.yaml:ro
      - loki_data:/loki
    restart: unless-stopped
    networks:
      - poupe-ai-logging-network

  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy-prod
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./logging/alloy/config.alloy:/etc/alloy/config.alloy:ro
      - alloy_data:/var/lib/alloy
    ports:
      - "12345:12345"
    depends_on:
      - loki
    restart: unless-stopped
    networks:
      - poupe-ai-network
      - poupe-ai-logging-network

  grafana:
    image: grafana/grafana:12.0.2
    container_name: grafana-prod
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - ./logging/grafana/provisioning:/etc/grafana/provisioning:ro
      - grafana_data:/var/lib/grafana
    depends_on:
      - loki
      - prometheus
    restart: unless-stopped
    networks:
      - poupe-ai-logging-network

  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus-prod
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    volumes:
      - ./logging/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - poupe-ai-logging-network

  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter-prod
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    ports:
      - "9100:9100"
    restart: unless-stopped
    networks:
      - poupe-ai-logging-network

volumes:
  keycloak_data:
  finances_data:
  redis_data:
  rabbitmq_data:
  loki_data:
  alloy_data:
  grafana_data:
  finances_backups:
  keycloak_backups:
  prometheus_data:

networks:
  poupe-ai-network:
    name: poupe-ai-network
    driver: bridge
  poupe-ai-logging-network:
    name: poupe-ai-logging-network
    driver: bridge