name: poupe-ai-local

services:
  # --- INFRAESTRUTURA DE DADOS ---
  keycloak-db:
    image: postgres:17.5-alpine
    container_name: keycloak-db-local
    environment:
      POSTGRES_DB: ${KEYCLOAK_DB}
      POSTGRES_USER: ${KEYCLOAK_DB_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${KEYCLOAK_DB_USER}", "-d", "${KEYCLOAK_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - poupe-ai-network

  core-db:
    image: postgres:17.5-alpine
    container_name: core-db-local
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - core_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - poupe-ai-network

  redis:
    image: redis:7-alpine
    container_name: redis-local
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - poupe-ai-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-local
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - poupe-ai-network

  # --- CORE SERVICES ---
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    container_name: keycloak-local
    command:
      - start-dev
      - --import-realm
      - --spi-theme-cache-themes=false
      - --spi-theme-cache-templates=false
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: ${KEYCLOAK_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HOSTNAME: ${IP_ADDRESS}
      KC_HTTP_ENABLED: 'true'
      KC_PROXY: 'none'
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      POUPE_AI_BACKEND_CLIENT_SECRET: ${POUPE_AI_BACKEND_CLIENT_SECRET}
      KC_SPI_EVENTS_LISTENER_POUPEAI_EVENT_LISTENER_CORE_SERVICE_URL: "${CORE_SERVICE_URL}"
      KC_SPI_EVENTS_LISTENER_POUPEAI_EVENT_LISTENER_INTERNAL_API_KEY: "${INTERNAL_API_KEY}"
      KC_SPI_EVENTS_LISTENER_POUPEAI_EVENT_LISTENER_INTERNAL_HEADER_NAME: "${INTERNAL_HEADER_NAME}"
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realms/import:/opt/keycloak/data/import:ro
      - ./keycloak/themes/poupe-ai:/opt/keycloak/themes/poupe-ai:ro
      - ./keycloak/providers/poupeai-keycloak-listener.jar:/opt/keycloak/providers/poupeai-listener.jar
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - poupe-ai-network

  kong:
    build:
      context: ./kong
      dockerfile: Dockerfile
    container_name: kong-gateway-local
    environment:
      KONG_DATABASE: 'off'
      KONG_DECLARATIVE_CONFIG: /opt/kong/kong.yaml
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_NGINX_DAEMON: 'off'
      KONG_PLUGINS: bundled,jwt-header-injector
      KONG_LOG_LEVEL: debug
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_LUA_PACKAGE_PATH: /usr/local/share/lua/5.1/kong/plugins/?.lua;;
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    volumes:
      - ./kong/kong.template.yaml:/opt/kong/kong.template.yaml
      - ./kong/plugins/jwt-header-injector:/usr/local/share/lua/5.1/kong/plugins/jwt-header-injector
    depends_on:
      - keycloak
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - poupe-ai-network

  # --- APLICAÇÃO ---
  core-service:
    build:
      context: ./services/poupeai-core-service
      dockerfile: Dockerfile
    container_name: core-service-local
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
      KEYCLOAK_JWKS_URL: ${KEYCLOAK_JWKS_URL}
      MINIO_ENDPOINT: ${MINIO_SERVER_URL}
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET: ${MINIO_BUCKET}
    extra_hosts:
      - "${IP_ADDRESS}:host-gateway"
    depends_on:
      core-db:
        condition: service_healthy
    ports:
      - "8085:8085"
    networks:
      - poupe-ai-network

  notification-service:
    build:
      context: ./services/poupeai-notification-service
      dockerfile: Dockerfile
    container_name: notification-service-local
    volumes:
      - ./services/poupeai-notification-service/src:/app
    environment:
      DEBUG: 'True'
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_MAX_RETRIES: 3
      RABBITMQ_EXCHANGE_MAIN: notification_exchange
      RABBITMQ_QUEUE_MAIN: notification_events
      RABBITMQ_ROUTING_KEY: notification.event
      RABBITMQ_EXCHANGE_RETRY: notification_exchange.retry
      RABBITMQ_QUEUE_RETRY: notification_events.retry
      RABBITMQ_EXCHANGE_DLQ: notification_exchange.dlq
      RABBITMQ_QUEUE_DLQ: notification_events.dlq
      RABBITMQ_RETRY_DELAY_MS: 10000
      REDIS_URL: ${REDIS_NOTIFICATION_URL}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_FROM: ${MAIL_FROM}
      MAIL_FROM_NAME: ${MAIL_FROM_NAME}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_SERVER: ${MAIL_SERVER}
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - poupe-ai-network

  reports-service:
    build:
      context: ./services/poupeai-report-service/Src
      dockerfile: Dockerfile
    container_name: reports-service-local
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: 8081
      GeminiAI__ApiKey: ${GEMINI_API_KEY}
      DeepseekAI__ApiKey: ${DEEPSEEK_API_KEY}
      Database__ConnectionString: ${REPORT_DB_CONNECTION_STRING}
      Database__DatabaseName: ${REPORT_DB_NAME}
      Keycloak__Authority: ${KEYCLOAK_AUTHORITY}
      Keycloak__Audience: ${KEYCLOAK_AUDIENCE}
      Keycloak__ValidIssuer: ${KEYCLOAK_ISSUER}
      FinancesService__BaseUrl: ${FINANCES_SERVICE_BASE_URL}
      FinancesService__TransactionsEndpoint: ${FINANCES_SERVICE_TRANSACTIONS_ENDPOINT}
      FinancesService__CategoryEndpoint: ${FINANCES_SERVICE_CATEGORY_ENDPOINT}
    ports:
      - "8081:8081"
    networks:
      - poupe-ai-network
  
  ingestion-service:
    build:
      context: ./services/poupeai-ingestion-service
      dockerfile: Dockerfile
    container_name: ingestion-service-local
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
      MINIO_URL: ${MINIO_SERVER_URL}
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET: ${MINIO_BUCKET}
      CORE_SERVICE_URL: ${IN_CORE_SERVICE_URL}
      REPORT_SERVICE_URL: ${IN_REPORT_SERVICE_URL}
    extra_hosts:
      - "${IP_ADDRESS}:host-gateway"
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8082:8082"
    networks:
      - poupe-ai-network
  
  minio:
    image: minio/minio:RELEASE.2024-11-07T00-52-20Z
    container_name: minio-local
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_SERVER_URL: ${MINIO_SERVER_URL} 
      MINIO_BROWSER_REDIRECT_URL: ${MINIO_BROWSER_REDIRECT_URL}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - poupe-ai-network

  # --- OBSERVABILIDADE ---
  loki:
    image: grafana/loki:3.5.2
    container_name: loki-local
    command: ["-config.file=/etc/loki/config.yaml", "-config.expand-env=true"]
    volumes:
      - ./logging/loki/loki-config.yaml:/etc/loki/config.yaml:ro
      - loki_data:/loki
    networks:
      - poupe-ai-logging-network

  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy-local
    command: ["run", "--server.http.listen-addr=0.0.0.0:12345", "--storage.path=/var/lib/alloy/data", "/etc/alloy/config.alloy"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./logging/alloy/config.alloy:/etc/alloy/config.alloy:ro
      - alloy_data:/var/lib/alloy
    depends_on:
      - loki
    networks:
      - poupe-ai-network
      - poupe-ai-logging-network

  grafana:
    image: grafana/grafana:12.0.2
    container_name: grafana-local
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - ./logging/grafana/provisioning:/etc/grafana/provisioning:ro
      - grafana_data:/var/lib/grafana
    depends_on:
      - loki
      - prometheus
    networks:
      - poupe-ai-logging-network

  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus-local
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    volumes:
      - ./logging/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - poupe-ai-logging-network

  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter-local
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    ports:
      - "9100:9100"
    networks:
      - poupe-ai-logging-network
  
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog-local
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - poupe-ai-network

volumes:
  keycloak_data:
  core_data:
  redis_data:
  rabbitmq_data:
  loki_data:
  alloy_data:
  grafana_data:
  prometheus_data:
  minio_data:

networks:
  poupe-ai-network:
    name: poupe-ai-network
    driver: bridge
  poupe-ai-logging-network:
    name: poupe-ai-logging-network
    driver: bridge